@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* elimación pre ajustes del navegador*/
* {
    padding: 0;
    margin: 0;
    
   
}
/* elimación pre ajustes del navegador*/


/* trabajo cuerpo/titulo/parrafo */
main {
    flex:0.95;

}

body{
    
    background-color: rgba(0, 0, 0, 0.995);
    color: #00fff2;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.miNombre {
    color: rgb(255, 255, 255);
}
.presentacion {
    padding: 3% 6% 0% 15%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.contenido_presentacion_Home {
width: 700px;
display: flex;
flex-direction: column;
background:url("https://jossnew117.github.io/Portafolio-Joseth-HTML5-CSS/assets/gif_fondo_negro_3.gif");
background-repeat: no-repeat ;

background-position-y: 100% ;
background-position-x: -25% ;

} 

.titulo_principal {
    font-size: 250%;
    font-family: "Montserrat", serif;
    color:hwb(56 0% 0%);
    font-weight: 1200;
    margin-bottom: 20px;
    margin-top: 40px;
    
    
}
.primer_parrafo {
    font-size: 100%;
    font-family: "Krona One", serif;
    font-weight: 2300;
    margin-bottom: 15px;
}
/* elimación pre ajustes del navegador*/


/*imagen/enlaces /boton de links de redes sociales/ titulo de apertura de redes*/
.Foto_Joseth {
    max-width: 15%;
    height: auto;
    border-radius: 8px;
    border: 3px solid hwb(56 0% 0%);
    margin-top: -25% ;
}

    

.Enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.presentacion_boton_links {
    width: 200px;
    text-align: center;
    padding: 10px 0 ;
    border-radius: 8px;
    font-family: "Montserrat", serif;
    font-size: 100%;
    font-weight: 850;
    text-decoration: none;
    color: #00fff2;
    border: 1px groove #00fff2;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 0px;
}

.presentacion_boton_links:hover {
    background-color:hwb(56 0% 0% / 0.87);
    color: rgb(240, 248, 255);
    cursor: pointer;
}

.titulo_redes {
    color: aliceblue;
    font-family: "Krona One", sans-serif;
    font-size: 13px;
    font-weight: 400 ;
}
 /* Footer/ pie de pagina*/
 .footer{
    padding: 24px;
    background-color:  #22d4fd; ;
    color: rgb(0, 0, 0);
    padding: 24px;
    text-align: center;
    font-family:"Montserrat", serif;
    font-size: 24px;
    font-weight: 400;
    align-items: center;
    width: 100%;
    
 }
 .github_footer {
    max-width: 2%;
    text-decoration: none;
    
 }
 .footer a {
    text-decoration: none;
    color: black;
    font-weight: 640
    
 }
 /*Footer/ pie de pagina */

 /*header*/
 .header {
    padding: 2% 0% 0% 15%;
    
    
 }

 .header_menu {
   display: flex;
   gap: 50px;; 
 }
 .header_menu_link {
    text-decoration: none;
    color: hwb(0 100% 0% / 0.87);
    font-weight: 450;
    font-family: "Montserrat", sans serif ;
    font-size: 24px;
 }

 /*fondo about me */
 
 .presentacion_2 {
    background: url("https://jossnew117.github.io/Portafolio-Joseth-HTML5-CSS/assets/gif_fondo_negro_2.gif");
    padding: 3% 6% 0% 15%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-repeat: no-repeat;
    background-size:contain;
}
.contenido_presentacion_Curriculum {
    width: 700px;
    display: flex;
    flex-direction: column;
    background:url("https://jossnew117.github.io/Portafolio-Joseth-HTML5-CSS/assets/gif_fondo_negro_1.gif");
    background-repeat: no-repeat ;
    background-size: contain;
    background-position-y: 50% ;
    background-position-y: 3% ;
     
}
.parrafo_Curriculum {
    font-size: 100%;
    font-family: "Krona One", serif;
    font-weight: 2300;
    margin-bottom: 20px;
    text-align: justify;
    
}
.Estudios{
    margin-left: 7%;
    text-decoration: none;
    margin-right: -20%;

}
.Certificados {
    text-decoration: none;
    color: hwb(0 100% 0% / 0.747);
    font-weight: 600;
    font-family: "Montserrat", sans serif ;
    font-size: 24px;
}